{% import './components.html' as template %}
<!doctype html>
<html lang="en">

<head>
  {% include 'head.html' %}
  <meta name="robots" content="noindex">
  <title>{{ title }} &mdash; EExpress</title>
</head>

<body class="flex flex-col place-items-center items-center overflow-x-hidden">
  <script>
    new Alert(
      'ข้อมูลทั้งหมดเป็นเพียงตัวอย่างเพื่อแสดงการทำงานของเว็ปไซต์ และไม่มีการชำระค่าบริการหรือส่งสินค้าใดๆ ทั้งสิ้น &nbsp; <a href="/docs/about-this-project" class="underline">ข้อมูลเพิ่มเติม</a>',
      AlertType.ERROR,
    );
  </script>

  {% if component %} {% include 'nav.html' %} {% endif %}
  <!--  -->

  {% include render %}
  <!--  -->

  {% if component %} {% include 'cartview.html' %} {% include 'footer.html' %}
  <!--  -->
  {% endif %}
</body>

</html>