{% import './components.html' as template %}
<!doctype html>
<html lang="en">
  <head>
    {% include 'head.html' %}
    <title>{{ title }} &mdash; EExpress</title>
  </head>
  <body
    class="flex flex-col place-items-center items-center overflow-x-hidden"
  >
    {% if component %} {% include 'nav.html' %} {% endif %}
    <!--  -->
    
    {% include render %}
    <!--  -->

    {% if component %} {% include 'cartview.html' %} {% include 'footer.html' %}
    <!--  -->
    {% endif %}
  </body>
</html>
