<footer
  class="flex w-full justify-center border-t-2 border-gray-950 bg-yellow-200 bg-opacity-100 mt-8"
>
  <div class="flex w-full max-w-6xl flex-col px-8 py-16">
    <main class="flex flex-col items-start gap-8 lg:flex-row">
      <header
        class="flex w-full flex-row justify-center gap-4 sm:w-max lg:items-start lg:justify-start"
      >
        <div class="flex flex-col items-center justify-center">
          <h1 class="font-display text-4xl lg:text-7xl">N</h1>
          <p class="font-mono text-xl lg:text-2xl">K</p>
        </div>
        <div class="flex flex-col items-center justify-center">
          <h1 class="font-display text-4xl lg:text-7xl">u</h1>
          <p class="font-mono text-xl lg:text-2xl">H</p>
        </div>
        <div class="flex flex-col items-center justify-center">
          <h1 class="font-display text-4xl lg:text-7xl">t</h1>
          <p class="font-mono text-xl lg:text-2xl">U</p>
        </div>
        <div class="flex flex-col items-center justify-center">
          <h1 class="font-display text-4xl lg:text-7xl">t</h1>
          <p class="font-mono text-xl lg:text-2xl">M</p>
        </div>
        <div class="flex flex-col items-center justify-center">
          <h1 class="font-display text-4xl lg:text-7xl">a</h1>
          <p class="font-mono text-xl lg:text-2xl">D</p>
        </div>
        <div class="flex flex-col items-center justify-center">
          <h1 class="font-display text-4xl lg:text-7xl">p</h1>
          <p class="font-mono text-xl lg:text-2xl">A</p>
        </div>
        <div class="flex flex-col items-center justify-center">
          <h1 class="font-display text-4xl lg:text-7xl">o</h1>
          <p class="font-mono text-xl lg:text-2xl">N</p>
        </div>
        <div class="flex flex-col items-center justify-center">
          <h1 class="font-display text-4xl lg:text-7xl">l</h1>
          <p class="font-mono text-xl lg:text-2xl">G</p>
        </div>
      </header>

      <section>
        <nav
          class="*:flex *:w-max *:flex-row *:items-center *:gap-4 *:py-2 *:font-mono *:text-xl *:duration-100"
        >
          <a class="group hover:bg-gray-900 hover:px-4 hover:text-white">
            <span
              class="material-icons-outlined w-0 overflow-hidden duration-100 group-hover:w-4"
              >chevron_right</span
            >
            <p class="font-mono">เกี่ยวกับเรา</p>
          </a>
          <a class="group hover:bg-gray-900 hover:px-4 hover:text-white">
            <span
              class="material-icons-outlined w-0 overflow-hidden duration-100 group-hover:w-4"
              >chevron_right</span
            >
            <p class="font-mono">ข้อกำหนดการให้บริการ</p>
          </a>
          <a class="group hover:bg-gray-900 hover:px-4 hover:text-white">
            <span
              class="material-icons-outlined w-0 overflow-hidden duration-100 group-hover:w-4"
              >chevron_right</span
            >
            <p class="font-mono">ความเป็นส่วนตัวของข้อมูล</p>
          </a>
          <a
            href="/managers/login"
            class="group hover:bg-gray-900 hover:px-4 hover:text-white"
          >
            <span
              class="material-icons-outlined w-0 overflow-hidden duration-100 group-hover:w-4"
              >chevron_right</span
            >
            <p class="font-mono">เข้าสู่ระบบ</p>
          </a>
        </nav>
      </section>
    </main>

    <p class="mt-6 w-full font-mono">
      &copy; 2024, Nuttapol Khumdang; All Rights Reserved
    </p>
  </div>
</footer>
