<footer class="webstatic masterfooter">
    <main>
        <header>
            <div>
                <h1 class="display">N</h1>
                <p class="mono">k</p>
            </div>
            <div>
                <h1 class="display">u</h1>
                <p class="mono">h</p>
            </div>
            <div>
                <h1 class="display">t</h1>
                <p class="mono">u</p>
            </div>
            <div>
                <h1 class="display">t</h1>
                <p class="mono">m</p>
            </div>
            <div>
                <h1 class="display">a</h1>
                <p class="mono">d</p>
            </div>
            <div>
                <h1 class="display">p</h1>
                <p class="mono">a</p>
            </div>
            <div>
                <h1 class="display">o</h1>
                <p class="mono">n</p>
            </div>
            <div>
                <h1 class="display">l</h1>
                <p class="mono">g</p>
            </div>
        </header>

        <section>
            <nav>
                <a href="">
                    <span class="material-icons-outlined">chevron_right</span>
                    <p class="mono">เกี่ยวกับเรา</p>
                </a>
                <a href="">
                    <span class="material-icons-outlined">chevron_right</span>
                    <p class="mono">ความเป็นส่วนตัวของข้อมูล</p>
                </a>
                <a href="/managers/login">
                    <span class="material-icons-outlined">chevron_right</span>
                    <p class="mono">เข้าสู่ระบบ</p>
                </a>
            </nav>
        </section>
    </main>

    <p class="mono">&copy; 2024, Nuttapol Khumdang; All Rights Reserved</p>
</footer>