<footer class="webstatic masterfooter">
    <header>
        <h1 class="display">Nuttapol</h1>
        <p class="mono">Khumdan<span>g</span></p>
    </header>

    <section>
        <nav>
            <a href="">
                <span class="material-icons-outlined">chevron_right</span>
                <p class="mono">เกี่ยวกับเรา</p>
            </a>
            <a href="">
                <span class="material-icons-outlined">chevron_right</span>
                <p class="mono">ความเป็นส่วนตัวของข้อมูล</p>
            </a>
            <a href="/managers/login">
                <span class="material-icons-outlined">chevron_right</span>
                <p class="mono">เข้าสู่ระบบ</p>
            </a>
        </nav>
    </section>
</footer>