<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="/stylesheets/style.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Major+Mono+Display&family=Noto+Sans+Thai:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">

<script src="/javascripts/Alert.js"></script>
<script src="/javascripts/Banner.js"></script>
<script src="/javascripts/Cart.js"></script>

<script>
    async function fetchJson(url, options = {}) {
        try {
            const res = await fetch(url, options);
            const json = await res.json();
            return json;
        } catch (e) {
            console.error("fail to fetch", url, e);
            return null;
        }
    }

    function getLocalStorage(k, json = false) {
        return json
            ? JSON.parse(window.localStorage.getItem(k))
            : window.localStorage.getItem(k);
    }

    function setLocalStorage(k, v, json = false) {
        return json
            ? window.localStorage.setItem(k, JSON.stringify(v))
            : window.localStorage.setItem(k, v);
    }
</script>

<script>
    function uuidv4() {
        return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
            var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
            return v.toString(16);
        });
    }

    function redirect(view) {
        return window.location.href = view;
    }
</script>