<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'head.html' %}
    <link rel="stylesheet" href="/stylesheets/min.managers.css">
    <title>Manager &mdash; EExpress</title>
</head>

<body>
    {% include 'nav.html' %}

    <main class="my webstatic managers managers-container">
        <menu id="managersnav">{% include './managers/nav.html' %}</menu>
        {% include render %}
    </main>

    <script>
        function extendManagersNav() {
            document.getElementById("managersnav").classList.toggle("extend");
        }
    </script>
    {% include 'cartview.html' %}
</body>

</html>