<header class="webstatic search-container" id="search-container">
    <div class="search">
        <input type="text" class="sans" placeholder="Search">
        <button onclick="toggleSearchBox()"><span class="material-icons-outlined">close</span></button>
    </div>
</header>

<header class="webstatic masterhead">
    <h3 class="display"><a href="/">Nuttapol</a></h3>

    <nav>
        {% if account?._id %}
        <button class="i smb" onclick="extendManagersNav()"><span class="material-icons-outlined">menu</span></button>
        <button class="i" onclick="redirect('/managers')"><span class="material-icons-outlined">store</span></button>
        {% endif %}
        <button class="i" onclick="toggleSearchBox()"><span class="material-icons-outlined">search</span></button>
        <button class="i" onclick="toggleCartview()"><span class="material-icons-outlined">shopping_bag</span></button>
        <!-- <a class="sans">Login</a> -->
    </nav>
</header>

<script>
    function toggleSearchBox() {
        document.getElementById("search-container").classList.toggle("extend");
    }
</script>