{% import './components.html' as template %}
<!doctype html>
<html lang="en">

<head>
  {% include 'head.html' %}
  <meta name="robots" content="noindex">
  <title>EExpress</title>
</head>

<body class="flex flex-col items-center justify-center overflow-x-hidden">
  {% include 'nav.html' %}
  <!--  -->

  <header class="flex h-max w-full max-w-6xl flex-row items-center px-12 py-8 font-sans text-2xl font-bold">
    ผลการค้นหา
  </header>
  {% if products.length === 0 %}
  <h2 class="w-full max-w-6xl px-12 py-8 text-3xl font-bold">ไม่พบข้อมูล</h2>
  {% endif %}
  <!--  -->

  <main class="grid w-full max-w-6xl grid-cols-2 gap-4 px-12 lg:grid-cols-3 xl:grid-cols-4">
    {% for product in products %}
    <!--  -->
    {{ template.ptableitem(product._id.toString(),
      product.search,product.images[0], product.name, product.price) }}
    <!--  -->
    {% endfor %}
  </main>

  <!--  -->
  {% include 'cartview.html' %}
  <!--  -->
  {% include 'footer.html' %}
</body>

</html>