<!doctype html>
<html lang="en">

<head>
    {% include 'head.html' %}
    <meta name="robots" content="noindex" />

    <title>{{ title }} &mdash; EExpress</title>
</head>

<body class="flex flex-col items-center overflow-x-hidden">
    {% include 'nav.html' %}

    <main class="my-8 grid h-max w-full max-w-6xl grid-cols-1 gap-8 px-4 md:grid-cols-[1fr_18rem]">
        <article id="writer" class="w-full">
            <header class="mb-8 border-b-2 border-black">
                <textarea type="text" id="article-title" placeholder="หัวข้อบทความ" class="w-full resize-none bg-gray-100 px-2 py-4 text-6xl font-bold leading-relaxed">{{ article.title }}</textarea>
                <textarea type="text" id="article-description" placeholder="คำอธิบาย" class="w-full resize-none bg-gray-100 px-2 py-4">{{ article.description }}</textarea>
            </header>

            <!-- <img src="/images/articles/66344784815d6d5d003ed32a/d5c4aae0-14a7-4013-a1c0-ac0b0a36c638.webp" class="border-2 border-transparent my-4" /> -->
            {% for block in article.content %} {% if block.tag == 'img'%}
            <!--  -->
            <img src="/images/articles/{{ article._id.toString() }}/{{ block.src }}" class="mb-2 border-2 border-transparent" />
            {% else %}
            <!--  -->
            {% if block.style.startsWith('heading') %}
            <textarea class="heading w-full resize-none bg-gray-100 px-2 py-4 min-h-12 h-auto text-4xl font-bold" placeholder="หัวข้อ">{{ block.text }}</textarea>

            {% elif block.style.startsWith('subheading') %}
            <textarea class="heading w-full resize-none bg-gray-100 px-2 py-4 min-h-12 h-auto text-2xl font-semibold" placeholder="หัวข้อ">{{ block.text }}</textarea>

            {% elif block.style.startsWith('paragraph') %}
            <textarea class="paragraph w-full resize-none bg-gray-100 px-2 py-4 min-h-12 h-auto text-lg" placeholder="หัวข้อ">{{ block.text }}</textarea>
            <!--  -->
            {% endif %}
            {% endif %}
            <!--  -->
            {% endfor %}
        </article>

        <section class="sticky top-[calc(4rem_+_2rem_+_2px)] flex h-max max-h-[calc(100dvh_-_6rem)] w-full flex-col gap-2 border-2 border-black p-2 font-sans">
            <p class="font-bold">เพิ่มส่วน</p>
            <div class="flex flex-col gap-2">
                <div class="grid grid-cols-2 gap-2">
                    <button class="flex min-h-12 w-full items-center justify-center border-2 border-black font-bold duration-100 hover:bg-black hover:text-white" onclick="writer.insert('heading')">
                        หัวข้อ
                    </button>
                    <button class="flex min-h-12 w-full items-center justify-center border-2 border-black font-bold duration-100 hover:bg-black hover:text-white" onclick="writer.insert('subheading')">
                        หัวข้อรอง
                    </button>
                    <button class="flex min-h-12 w-full items-center justify-center border-2 border-black font-bold duration-100 hover:bg-black hover:text-white" onclick="writer.insert('paragraph')">
                        เนื้อความ
                    </button>
                </div>

                <hr />
                <button class="flex min-h-12 w-full items-center justify-center border-2 border-black font-bold duration-100 hover:bg-black hover:text-white" onclick="writer.insert('image')">
                    รูปภาพ
                </button>
            </div>

            <menu class="hidden h-max w-full flex-col gap-2" id="SX_MENU_IMG_OPTIONS">
                <p class="font-bold">รูปภาพ</p>
                <div class="grid grid-cols-2 gap-2">
                    <button class="flex min-h-12 w-full items-center justify-center border-2 border-black font-bold duration-100 hover:bg-black hover:text-white" onclick="writer.replaceImage()">
                        แทนที่
                    </button>
                    <button class="flex min-h-12 w-full items-center justify-center border-2 border-black font-bold duration-100 hover:bg-black hover:text-white" onclick="writer.removeImage()">
                        ลบรูปภาพ
                    </button>
                </div>
            </menu>

            <menu class="h-max w-full flex-col gap-2" id="SX_MENU_SAVING_OPTIONS">
                <p class="font-bold">ตัวเลือก</p>
                <div class="grid auto-cols-auto gap-2">
                    <button class="flex min-h-12 w-full items-center justify-center border-2 border-black font-bold duration-100 hover:bg-black hover:text-white" onclick="writer.update()">
                        <input type="checkbox" class="peer hidden" id="isloading" />
                        <span class="hidden h-4 w-4 animate-spin rounded-full border-2 border-black border-t-gray-300 peer-checked:block"></span>
                        <div class="flex items-center justify-center gap-2 peer-checked:hidden">
                            <p>บันทึก</p>
                        </div>
                    </button>
                    <a href="/managers/articles" class="flex min-h-12 w-full items-center justify-center border-2 border-black font-bold duration-100 hover:bg-black hover:text-white">
                        <div class="flex items-center justify-center gap-2">
                            <p>กลับหน้าหลัก</p>
                        </div>
                    </a>
                </div>
            </menu>
        </section>
    </main>

    <script>
        const WRITER_CONTAINER = document.getElementById("writer");
        const DOCUMENT_ID = '{{ article._id.toString() }}';

        const SX_MENU_IMG_OPTIONS = document.getElementById("SX_MENU_IMG_OPTIONS",);
        const SX_MENU_SAVING_OPTIONS = document.getElementById("SX_MENU_SAVING_OPTIONS",);
        const BASE_IMAGE_ROUTE = "/images/articles/" + DOCUMENT_ID;
    </script>

    <script>const writer_config = {};</script>
    <script src="/javascripts/Writer.js"></script>

    {% if !article.content or article.content.length == 0 %}
    <script>writer.insert("paragraph")</script>
    {% if endif %}
    <!--  -->
    {% include 'cartview.html' %}
    <!--  -->
    {% include 'footer.html' %}
</body>

</html>