<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'head.html' %}
    <link rel="stylesheet" href="/stylesheets/articles.css">
    <title>{{ title }} &mdash; EExpress</title>
</head>

<body>
    {% include 'nav.html' %}

    <main class="article-writer writer-container">
        <article id="writer">
            <header class="article-heading">
                <textarea type="text" id="article-title" class="sans title"
                    placeholder="หัวข้อบทความ">{{ article.title }}</textarea>
                <textarea type="text" id="article-description" class="sans"
                    placeholder="คำอธิบาย">{{ article.description }}</textarea>
            </header>

            {% for block in article.content %}
            {% if block.tag == 'ul' or block.tag == 'ol' %}

            <{{block.tag}}>
                {% for li in block.content %}
                <li><textarea class="{{ li.style }}" placeholder="เนื้อความ">{{ li.text }}</textarea></li>
                {% endfor %}
            </{{block.tag}}>

            {% elif block.tag == 'img'%} <img src="/article/image/{{ block.src }}" class="{{ block.style }}">
            {% else %}<textarea class="{{ block.style }}" placeholder="เนื้อความ">{{ block.text }}</textarea>{%
            endif %}
            {% endfor %}
        </article>

        <section class="element-config">
            <h4 class="sans">รูปแบบตัวอักษร</h4>
            <div class="text-format">
                <select id="FONT_WEIGHT" onchange="writer.set_style(this.id, this.value)" , class="sans">
                    <option value="weight-normal">หนาปกติ</option>
                    <option value="weight-bold">หนามาก</option>
                </select>

                <select id="FONT_SIZE" , onchange="writer.set_style(this.id, this.value)" class="sans">
                    <option value="size-small">ขนาดเล็ก</option>
                    <option value="size-normal">ขนาดปกติ</option>
                    <option value="size-large">ขนาดใหญ่</option>
                </select>
            </div>

            <h4 class="sans">รูปแบบการจัดวาง</h4>
            <div class="alignment-container">
                <div class="alignment">
                    <button class="sans" id="align-left" onclick="writer.set_style('TEXT_ALIGN', this.id)">
                        <span class="material-icons-outlined">format_align_left</span>
                    </button>
                    <button class="sans" id="align-center" onclick="writer.set_style('TEXT_ALIGN', this.id)">
                        <span class="material-icons-outlined">format_align_center</span>
                    </button>
                    <button class="sans" id="align-right" onclick="writer.set_style('TEXT_ALIGN', this.id)">
                        <span class="material-icons-outlined">format_align_right</span>
                    </button>
                </div>

                <div class="spacing">
                    <button class="sans" id="space-before" onclick="writer.set_style('SPACE', this.id, true)">
                        <span class="material-icons-outlined">vertical_align_top</span>
                    </button>
                    <button class="sans" id="space-after" onclick="writer.set_style('SPACE', this.id, true)">
                        <span class="material-icons-outlined">vertical_align_bottom</span>
                    </button>
                </div>
            </div>

            <h4 class="sans">เพิ่มส่วน</h4>
            <div class="section-insert">
                <button class="sans" onclick="writer.insert('heading')">หัวข้อ</button>
                <button class="sans" onclick="writer.insert('paragraph')">เนื้อความ</button>

                <hr>
                <button class="sans" onclick="writer.insert('ol')">รายการแบบลำดับ</button>
                <button class="sans" onclick="writer.insert('ul')">รายการแบบไม่มีลำดับ</button>

                <hr>
                <button class="sans" onclick="writer.insert('image')">รูปภาพ</button>
            </div>
        </section>
    </main>

    <script>
        const writer_container = document.getElementById('writer');

        class WriterGetImage {
            constructor(callback = (filename = String) => { }) {
                const input = document.createElement("input");
                input.setAttribute('type', 'file');
                input.setAttribute('accept', 'image/*');

                input.onchange = async e => {
                    const fd = new FormData();
                    fd.append('image', e.target.files[0]);
                    const res = await fetchJson('/article/image/new', {
                        method: 'POST',
                        body: fd,
                    });

                    console.log(res);
                    return callback(res.filename);
                }
                input.click();
            }
        }

        class Writer {
            constructor(container = document.getElementById()) {
                this.container = container;
                this.select = null;

                this.update_timeout = 2000;
                this.timeout_object = setTimeout(() => { }, this.update_timeout);

                this.container.querySelectorAll("textarea").forEach(e => { this.initTextInput(e) });
            }

            textFormatStyle() {
                const FONT_WEIGHT = ['weight-normal', 'weight-bold'];
                const FONT_SIZE = ['size-small', 'size-normal', 'size-large'];
                const TEXT_ALIGN = ['align-left', 'align-center', 'align-right'];
                const SPACE = ['space-before', 'space-after'];
                const STYLE = { FONT_WEIGHT, FONT_SIZE, TEXT_ALIGN, SPACE };

                return { FONT_WEIGHT, FONT_SIZE, TEXT_ALIGN, SPACE, STYLE };
            }

            initTextInput(obj = document.getElementById()) {
                obj.setAttribute("style", "height:" + (obj.scrollHeight) + "px;overflow-y:hidden;");
                obj.addEventListener("textarea", OnTextInput, false);
                obj.addEventListener("keydown", OnKeydown, false);
                obj.addEventListener("focus", e => { this.select = obj });

                obj.addEventListener("keypress", () => this.update(), false);
            }

            createListObject(template) {
                let container;

                if (['ol', 'ul'].includes(template)) {
                    container = document.createElement(template);
                    container.insertAdjacentElement("afterbegin", this.createListObject('li'));
                }

                if (template == 'li') {
                    container = document.createElement("li");

                    const textarea = document.createElement("textarea");
                    textarea.classList.add('sans');
                    textarea.setAttribute('placeholder', 'ข้อความ');
                    this.initTextInput(textarea);

                    container.insertAdjacentElement("afterbegin", textarea);
                }
                return container;
            }

            createTextInput(template) {
                const template_title = {
                    heading: 'หัวข้อ',
                    paragraph: 'เนื้อความ',
                }

                const textarea = document.createElement("textarea");
                textarea.classList.add(template, 'sans');
                textarea.setAttribute('placeholder', template_title[template]);
                this.initTextInput(textarea);

                return textarea;
            }

            replaceImage(obj) {

            }

            createImage() {
                new WriterGetImage((filename) => {
                    const object = document.createElement("img");
                    object.setAttribute('src', '/article/image/' + filename);

                    this.select
                        ? this.select.insertAdjacentElement("afterend", object)
                        : this.container.insertAdjacentElement("beforeend", object);
                    this.update();
                });
            }

            insert(template) {
                if (this.select && !['ARTICLE', 'OL', 'UL', 'LI'].includes(this.select.parentElement.tagName)) return;
                let object;

                if (['paragraph', 'heading'].includes(template)) object = this.createTextInput(template);
                if (['ol', 'ul', 'li'].includes(template)) object = this.createListObject(template);
                if (template == 'image') return this.createImage();

                if (template == 'li') this.select.parentElement.insertAdjacentElement("afterend", object);
                else this.select
                    ? this.select.insertAdjacentElement("afterend", object)
                    : this.container.insertAdjacentElement("beforeend", object);
                focus(object);
            }

            set_style(k, v, toggle = false) {
                if (k !== 'SPACE' && this.select.classList.contains('heading')) return;

                if (!toggle) {
                    this.textFormatStyle().STYLE[k].forEach(e => this.select.classList.remove(e));
                    this.select.classList.add(v);
                } else {
                    this.select.classList.toggle(v);
                }

                this.update();
            }

            content() {
                const title = document.getElementById("article-title").value;
                const description = document.getElementById("article-description").value;
                const content = [];

                for (let child of this.container.children) {
                    let data;

                    if (child.tagName == "TEXTAREA" && child.value) {
                        data = {
                            style: child.classList.toString(),
                            text: child.value,
                        }
                    }

                    else if (child.tagName == "IMG" && child.src) {
                        data = {
                            tag: 'img',
                            style: child.classList.toString(),
                            src: child.src.split('/').reverse()[0],
                        }
                    }

                    else if (['OL', 'UL'].includes(child.tagName)) {
                        data = {
                            tag: child.tagName.toLowerCase(),
                            content: []
                        }

                        for (let li of child.children) {
                            const textarea = li.querySelector("textarea");
                            data.content.push({ style: textarea.classList.toString(), text: textarea.value });
                        }
                    } else continue;

                    content.push(data);
                }

                console.log(content);
                return { title, description, content };
            }

            update() {
                clearTimeout(this.timeout_object);
                this.timeout_object = setTimeout(() => fetch('/article/writer/{{ article._id.toString() }}', {
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    method: 'PUT',
                    body: JSON.stringify(this.content())
                }).then(res => res.json()).then(res => {
                    if (res.status !== 200) new Alert(res.message, AlertType.ERROR, true);
                }).catch(e => {
                    console.error(e);
                    new Alert('something wrong with server', AlertType.ERROR, true);
                }), this.update_timeout);
            }
        }
    </script>

    <script>
        function OnKeydown(k = new KeyboardEvent()) {
            if (k.code == "Backspace" && !this.value) {
                k.preventDefault();
                if (writer.container.children.length - 1 > 1 && writer.select.parentElement.tagName == "ARTICLE") {
                    let currentIndex = 0;
                    for (let i = 0; i < writer.container.children.length; i++) if (writer.container.children[i] == this) currentIndex = i;
                    focus(writer.container.children[currentIndex - 1 >= 0 ? currentIndex - 1 : 0]);

                    this.remove();
                }

                if (writer.select.parentElement.tagName == "LI") {
                    if (writer.select.parentElement.parentElement.children.length <= 1) {
                        writer.select.parentElement.parentElement.remove();
                    }

                    writer.select.parentElement.remove();
                }

                writer.update();
            }

            if (k.code == 'Enter') {
                k.preventDefault();

                console.log(writer.select.parentElement.tagName);
                if (writer.select.parentElement.tagName == "ARTICLE") writer.insert('paragraph');
                if (writer.select.parentElement.tagName == "LI") writer.insert('li');
            }

            if (k.code == "ArrowUp" && this.selectionStart == 0 || (k.ctrlKey && k.code == "ArrowUp")) {
                let currentIndex = 0;
                for (let i = 0; i < writer.container.children.length; i++) if (writer.container.children[i] == this) currentIndex = i;
                if (['UL', 'OL'].includes(writer.container.children[currentIndex - 1 >= 0 ? currentIndex - 1 : 0].tagName)) currentIndex++;
                focus(writer.container.children[currentIndex - 1 >= 0 ? currentIndex - 1 : 0]);
            }

            if (k.code == "ArrowDown" && (this.selectionStart == this.value.length) || (k.ctrlKey && k.code == "ArrowDown")) {
                let currentIndex = 0;
                for (let i = 0; i < writer.container.children.length; i++) if (writer.container.children[i] == this) currentIndex = i;
                focus(writer.container.children[currentIndex + 1 >= writer.container.children.length - 1 ? writer.container.children.length - 1 : currentIndex + 1]);
            }
        }

        function OnTextInput() {
            this.style.height = 'auto';
            this.style.height = (this.scrollHeight) + "px";
        }

        function focus(obj = document.getElementById()) {
            return obj.focus();
        }
    </script>

    <script>const writer = new Writer(writer_container)</script>

    {% if !article.content or article.content.length == 0 %}
    <script>writer.insert();</script>
    {% if endif %}

    {% include 'cartview.html' %}
    {% include 'footer.html' %}
</body>

</html>