<main class="w-full max-w-2xl">
    <main class="flex flex-col py-16 min-h-96 justify-center">
        <header class="flex flex-col gap-4">
            <h1 class="font-sans text-6xl font-bold leading-relaxed">{{ article.title }}</h1>
            <p class="font-sans text-base">{{ article.description }}</p>
        </header>

        <section class="flex flex-col items-end">
            <div class="text-sm flex flex-row justify-start gap-1">
                <p>เขียนเมื่อ</p>
                <span class="font-mono">{{ article.createdAt|date('Y.m.d H:i', -420)}}</span>
            </div>
            <div class="text-sm flex flex-row justify-start gap-1">
                <p>ปรับปรุงล่าสุด</p>
                <span class="font-mono">{{ article.updatedAt|date('Y.m.d H:i', -420)}}</span>
            </div>
        </section>
    </main>

    <main class="h-max">
        <!-- {{ article._id.toString() }} -->
        <article class="flex flex-col">
            {% for block in article.content %}

            {% if block.tag == 'img'%}
            <img src="/images/articles/{{ article._id.toString() }}/{{ block.src }}" class="py-4" alt="{{ article.title }}'s insert image">

            {% elif block.style.startsWith('heading') %}<h1 class="text-4xl font-bold py-8 pb-4">{{ block.text }}</h1>
            {% elif block.style.startsWith('paragraph') %}
            <pre class="font-sans text-lg whitespace-pre-wrap">{{ block.text }}</pre>
            {% endif %}

            {% endfor %}
        </article>
    </main>
</main>