<article class="flex flex-col">
    {% for block in content %}

    {% if block.tag == 'img'%}
    <div class="w-full h-max flex items-center justify-center min-h-48">
        <img src="/images/articles/{{ article._id.toString() }}/{{ block.src }}" class="py-4 w-max object-contain" alt="{{ article.title }}'s insert image">
    </div>

    {% elif block.tag == 'TABLE' %}
    <table class="table-auto w-full py-8">
        {% for t in block.table %}
        {% if t.tag == 'TH'%}
        <tr class="border-b-2 border-black *:border-gray-300">
            {% for th in t.child %}
            <th class="h-12 border-l border-r first:border-l-0 last:border-r-0">{{ th }}</th>
            {% endfor %}
        </tr>
        {% elif t.tag == 'TD'%}
        <tr class="*:p-2 border-b border-gray-300 *:border-gray-300 last:border-b-0">
            {% for td in t.child %}
            <td class="border-l border-r first:border-l-0 last:border-r-0">{{ td }}</td>
            {% endfor %}
        </tr>
        {% endif %}
        {% endfor %}
    </table>
    {% if block.tname %}
    <p class="text-sm opacity-80 pt-2 pb-8">Table: {{ block.tname }}</p>
    {% endif %}

    {% elif block.style.startsWith('heading') %}<h1 class="text-4xl font-bold py-8 pb-4">{{ block.text }}</h1>
    {% elif block.style.startsWith('subheading') %}<h1 class="text-2xl font-semibold py-8 pb-4">{{ block.text }}</h1>
    {% elif block.style.startsWith('paragraph') %}
    <pre class="font-sans text-lg whitespace-pre-wrap">{{ block.text }}</pre>
    {% endif %}

    {% endfor %}
</article>