<main class="flex flex-col gap-4">
  <header class="my-2 flex flex-row items-center justify-between">
    <h1 class="font-mono text-3xl">รายละเอียดบัญชี</h1>

  </header>

  <section class="grid grid-cols-1 gap-4">
    <section
      class="grid grid-cols-1 gap-1 border-2 border-gray-950 p-4 font-sans"
    >
      <h3 class="py-2 text-xl font-bold">ข้อมูลบัญชี</h3>

      <div class="flex w-full flex-row items-start justify-between">
        <p>ชื่อผู้ใช้</p>
        <span>{{ profile.fullname }}</span>
      </div>
      <div class="flex w-full flex-row items-start justify-between">
        <p>อีเมล์</p>
        <span class="font-mono">{{ profile.email }}</span>
      </div>
      <div class="flex w-full flex-row items-start justify-between">
        <p>โทรศัพท์</p>
        <span class="font-mono">{{ profile.phone|default('-') }}</span>
      </div>
      <div class="flex w-full flex-row items-start justify-between">
        <p>วันที่เพิ่ม</p>
        <span class="font-mono">{{ profile.createdAt|date('Y.m.d') }}</span>
      </div>
      <div class="flex w-full flex-row items-start justify-between">
        <p>ตำแหน่ง</p>
        <p>
          {% for role in AccountRole %}
          <!--  -->
           {% if role.Role == profile.role %} {{ role.Name }} 
           <!--  -->
           {% endif %} {% endfor %}
        </p>
      </div>
      <div class="flex w-full flex-row items-start justify-between">
        <p>สถานะ</p>
        <p>
          {% if not profile.status %} ปิดใช้งาน
          <!--  -->
          {% else %} ปิดใช้งาน
          <!--  -->
          {% endif %}
        </p>
      </div>
    </section>

    {% include 'action-history.html' %}
  </section>
</main>
