<main class="flex flex-col gap-4">
  <header class="my-2 flex flex-row items-center justify-between">
    <h1 class="font-mono text-3xl">เพิ่มบัญชี</h1>
  </header>

  <section>
    <form
      action=""
      method="POST"
      class="grid grid-cols-1 gap-4"
    >
      <fieldset
        class="grid grid-cols-1 gap-8 border-2 border-gray-950 p-4 *:grid *:grid-cols-1 *:gap-2"
      >
        <label for="fullname">
          <span class="w-max font-mono text-sm underline">ชื่อ - สกุล</span>
          <input
            type="text"
            id="fullname"
            name="fullname"
            class="h-12 border-b-2 border-gray-950 font-sans outline-offset-4"
            placeholder="ชื่อ - สกุล"
            required
          />
        </label>

        <label for="email">
          <span class="w-max font-mono text-sm underline">อีเมล์</span>
          <input
            type="text"
            id="email"
            name="email"
            class="h-12 border-b-2 border-gray-950 font-sans outline-offset-4"
            placeholder="อีเมล์"
            required
          />
        </label>

        <label for="phone">
          <span class="w-max font-mono text-sm underline">โทรศัพท์</span>
          <input
            type="tel"
            id="phone"
            name="phone"
            pattern="[0-9]{10}"
            class="h-12 border-b-2 border-gray-950 font-sans outline-offset-4"
            placeholder="โทรศัพท์"
          />
        </label>

        <label for="role" class="">
          <span class="w-max font-mono text-sm underline">สถานะ</span>
          <select
            name="role"
            id="role"
            class="h-12 border-b-2 border-gray-950 font-sans outline-offset-4"
            required
          >
            <option disabled selected>สถานะ</option>
            {% for role in AccountRole %}
            <option value="{{ role.Role }}">{{ role.Name }}</option>
            {% endfor %}
          </select>
        </label>
      </fieldset>

      <button
        type="submit"
        class="h-12 w-full border-2 border-gray-950 font-sans text-lg font-bold duration-100 hover:bg-gray-950 hover:text-white"
      >
        ยืนยัน
      </button>
    </form>
  </section>
</main>
