<main class="managers-view account">
    <header>
        <h1 class="mono">เข้าสู่ระบบ</h1>
    </header>

    <section>
        <form action="/managers/login" method="POST">
            <fieldset>
                <label for="email">อีเมล์</label>
                <input type="text" id="email" name="username" class="sans" placeholder="อีเมล์">
            </fieldset>

            <fieldset>
                <label for="pwd">รหัสผ่าน</label>
                <input type="password" id="pwd" name="password" class="sans" placeholder="รหัสผ่าน">
            </fieldset>
            <button type="submit">ถัดไป</button>
        </form>
    </section>
</main>