<main class="managers-view account">
    <header>
        <h1 class="mono">เข้าสู่ระบบ</h1>
    </header>

    <section>
        <form action="/managers/account/add" method="POST">
            <fieldset>
                <label for="email">อีเมล์</label>
                <input type="text" id="email" name="email" class="snas" placeholder="อีเมล์">
            </fieldset>

            <fieldset>
                <label for="pwd">รหัสผ่าน</label>
                <input type="password" id="pwd" name="password" class="sans" placeholder="รหัสผ่าน">
            </fieldset>

            <fieldset>
                <label for="role">สถานะ</label>
                <select name="role" id="role">
                    <option disabled selected>สถานะ</option>
                    {% for role in AccountRole %}
                    <option value="{{ role.Role }}">{{ role.Name }}</option>
                    {% endfor %}
                </select>
            </fieldset>

            <button type="submit">ยืนยัน</button>
        </form>
    </section>
</main>