<section class="flex flex-col gap-2 border-2 border-gray-950 p-4">
  <h3 class="font-font-sans py-2 text-xl font-bold">ประวัติการใช้งาน</h3>

  {% if actions.action.length === 0 or not actions.action %}
  <h4 class="font-sans text-lg">ไม่พบข้อมูลการใช้งาน</h4>
  {% endif %}
  <!--  -->

  {% for action in actions.action %}
  <div
    class="flex w-full flex-row items-start justify-between border-b border-gray-950 py-1"
  >
    <p class="flex flex-col justify-start font-mono">
      {{ action.action }}
      <!--  -->
      
      {% if action.info._id %}
      <span class="indent-4">ID: {{ action.info._id.toString() }}</span>
      {% endif %}
    </p>

    <span class="font-mono">
      {{ action.timestamp|date('Y.m.d H:i:s', -420) }}
    </span>
  </div>
  {% endfor %}
</section>
