{% if account?._id %}

<!-- ? -->
<p class="h-max p-4 font-mono text-sm">โปรไฟล์</p>
<a
  href="/managers/profile"
  class="flex flex-row items-center justify-start gap-2 px-4 py-3 hover:bg-gray-950 hover:text-white"
>
  <span
    class="material-icons-outlined flex h-max w-8 items-center justify-center"
    >person</span
  >
  <p class="font-sans font-bold">บัญชีของฉัน</p>
</a>
<a
  href="/managers/profile/security"
  class="flex flex-row items-center justify-start gap-2 px-4 py-3 hover:bg-gray-950 hover:text-white"
>
  <span
    class="material-icons-outlined flex h-max w-8 items-center justify-center"
    >lock</span
  >
  <p class="font-sans font-bold">ความปลอดภัย</p>
</a>
<a
  href="/managers/logout"
  class="flex flex-row items-center justify-start gap-2 px-4 py-3 hover:bg-gray-950 hover:text-white"
>
  <span
    class="material-icons-outlined flex h-max w-8 items-center justify-center"
    >logout</span
  >
  <p class="font-sans font-bold">ออกจากระบบ</p>
</a>

<!-- ? -->
<p class="h-max p-4 font-mono text-sm">การสั่งซื้อ</p>
<a
  href="/managers/orders"
  class="flex flex-row items-center justify-start gap-2 px-4 py-3 hover:bg-gray-950 hover:text-white"
>
  <span
    class="material-icons-outlined flex h-max w-8 items-center justify-center"
    >receipt_long</span
  >
  <p class="font-sans font-bold">รายการสั่งซื้อ</p>
</a>
<a
  href="/managers/orders/history"
  class="flex flex-row items-center justify-start gap-2 px-4 py-3 hover:bg-gray-950 hover:text-white"
>
  <span
    class="material-icons-outlined flex h-max w-8 items-center justify-center"
    >history_edu</span
  >
  <p class="font-sans font-bold">ประวัติการขาย</p>
</a>

<!-- ? -->
<p class="h-max p-4 font-mono text-sm">ร้านค้า</p>
<a
  href="/managers/shop/appearance"
  class="flex flex-row items-center justify-start gap-2 px-4 py-3 hover:bg-gray-950 hover:text-white"
>
  <span
    class="material-icons-outlined flex h-max w-8 items-center justify-center"
    >style</span
  >
  <p class="font-sans font-bold">รูปแบบและการจัดวาง</p>
</a>
<a
  href="/managers/shop/promos"
  class="flex flex-row items-center justify-start gap-2 px-4 py-3 hover:bg-gray-950 hover:text-white"
>
  <span
    class="material-icons-outlined flex h-max w-8 items-center justify-center"
    >discount</span
  >
  <p class="font-sans font-bold">โค้ดส่วนลด</p>
</a>

<!-- ? -->
<p class="h-max p-4 font-mono text-sm">สินค้า</p>
<a
  href="/managers/product"
  class="flex flex-row items-center justify-start gap-2 px-4 py-3 hover:bg-gray-950 hover:text-white"
>
  <span
    class="material-icons-outlined flex h-max w-8 items-center justify-center"
    >dns</span
  >
  <p class="font-sans font-bold">สินค้าทั้งหมด</p>
</a>
<a
  href="/managers/product/create"
  class="flex flex-row items-center justify-start gap-2 px-4 py-3 hover:bg-gray-950 hover:text-white"
>
  <span
    class="material-icons-outlined flex h-max w-8 items-center justify-center"
    >add</span
  >
  <p class="font-sans font-bold">เพิ่มสินค้า</p>
</a>

<!-- ? -->
<p class="h-max p-4 font-mono text-sm">สถิติและการวิเคราะห์ข้อมูล</p>
<a
  href="/managers/analytics/insights"
  class="flex flex-row items-center justify-start gap-2 px-4 py-3 hover:bg-gray-950 hover:text-white"
>
  <span
    class="material-icons-outlined flex h-max w-8 items-center justify-center"
    >insights</span
  >
  <p class="font-sans font-bold">การวิเคราะห์การขาย</p>
</a>
<a
  href="/managers/analytics/access"
  class="flex flex-row items-center justify-start gap-2 px-4 py-3 hover:bg-gray-950 hover:text-white"
>
  <span
    class="material-icons-outlined flex h-max w-8 items-center justify-center"
    >hub</span
  >
  <p class="font-sans font-bold">ข้อมูลการเข้าใช้งาน</p>
</a>

<a
  href="/managers/analytics/portal"
  class="flex flex-row items-center justify-start gap-2 px-4 py-3 hover:bg-gray-950 hover:text-white"
>
  <span
    class="material-icons-outlined flex h-max w-8 items-center justify-center"
    >bubble_chart</span
  >
  <p class="font-sans font-bold">ประตูมิติ</p>
</a>

<!-- ? -->
<p class="h-max p-4 font-mono text-sm">บัญชีผู้ใช้</p>
<a
  href="/managers/account"
  class="flex flex-row items-center justify-start gap-2 px-4 py-3 hover:bg-gray-950 hover:text-white"
>
  <span
    class="material-icons-outlined flex h-max w-8 items-center justify-center"
    >manage_accounts</span
  >
  <p class="font-sans font-bold">จัดการบัญชี</p>
</a>
<a
  href="/managers/account/add"
  class="flex flex-row items-center justify-start gap-2 px-4 py-3 hover:bg-gray-950 hover:text-white"
>
  <span
    class="material-icons-outlined flex h-max w-8 items-center justify-center"
    >person_add</span
  >
  <p class="font-sans font-bold">เพิ่มบัญชี</p>
</a>
<a
  href="/managers/account/inactive"
  class="flex flex-row items-center justify-start gap-2 px-4 py-3 hover:bg-gray-950 hover:text-white"
>
  <span
    class="material-icons-outlined flex h-max w-8 items-center justify-center"
    >person_off</span
  >
  <p class="font-sans font-bold">บัญชีที่ถูกปิดใช้งาน</p>
</a>
<a
  href="/managers/account/deleted"
  class="flex flex-row items-center justify-start gap-2 px-4 py-3 hover:bg-gray-950 hover:text-white"
>
  <span
    class="material-icons-outlined flex h-max w-8 items-center justify-center"
    >person_remove</span
  >
  <p class="font-sans font-bold">บัญชีที่ถูกลบ</p>
</a>

{% else %}
<p class="h-max p-4 font-mono text-sm">บัญชี</p>
<a
  href="/managers/login"
  class="flex flex-row items-center justify-start gap-2 px-4 py-3 hover:bg-gray-950 hover:text-white"
>
  <span
    class="material-icons-outlined flex h-max w-8 items-center justify-center"
    >login</span
  >
  <p class="font-font-sans">เข้าสู่ระบบ</p>
</a>
<a
  href="/managers/account/recovery"
  class="flex flex-row items-center justify-start gap-2 px-4 py-3 hover:bg-gray-950 hover:text-white"
>
  <span
    class="material-icons-outlined flex h-max w-8 items-center justify-center"
    >lock_reset</span
  >
  <p class="font-font-sans">กู้คืนบัญชี</p>
</a>
{% endif %}
