{% if account?._id %}
<p class="mono">โปรไฟล์</p>
<a href="/managers/profile">
    <span class="material-icons-outlined">person</span>
    <p class="sans">บัญชีของฉัน</p>
</a>
<a href="/managers/profile/security">
    <span class="material-icons-outlined">lock</span>
    <p class="sans">ความปลอดภัย</p>
</a>
<a href="/managers/logout">
    <span class="material-icons-outlined">logout</span>
    <p class="sans">ออกจากระบบ</p>
</a>

<!-- ? -->
<p class="mono">การสั่งซื้อ</p>
<a href="/managers/orders">
    <span class="material-icons-outlined">receipt_long</span>
    <p class="sans">รายการสั่งซื้อ</p>
</a>
<a href="/managers/orders/history">
    <span class="material-icons-outlined">history_edu</span>
    <p class="sans">ประวัติการขาย</p>
</a>

<!-- ? -->
<p class="mono">ร้านค้า</p>
<a href="/managers/shop/appearance">
    <span class="material-icons-outlined">style</span>
    <p class="sans">รูปแบบและการจัดวาง</p>
</a>
<a href="/managers/shop/promos">
    <span class="material-icons-outlined">discount</span>
    <p class="sans">โค้ดส่วนลด</p>
</a>

<!-- ? -->
<p class="mono">สินค้า</p>
<a href="/managers/product">
    <span class="material-icons-outlined">dns</span>
    <p class="sans">สินค้าทั้งหมด</p>
</a>
<a href="/managers/product/create">
    <span class="material-icons-outlined">add</span>
    <p class="sans">เพิ่มสินค้า</p>
</a>

<!-- ? -->
<p class="mono">บัญชีผู้ใช้</p>
<a href="/managers/account">
    <span class="material-icons-outlined">manage_accounts</span>
    <p class="sans">จัดการบัญชี</p>
</a>
<a href="/managers/account/add">
    <span class="material-icons-outlined">person_add</span>
    <p class="sans">เพิ่มบัญชี</p>
</a>
<a href="/managers/account/inactive">
    <span class="material-icons-outlined">person_off</span>
    <p class="sans">บัญชีที่ถูกปิดใช้งาน</p>
</a>
<a href="/managers/account/deleted">
    <span class="material-icons-outlined">person_remove</span>
    <p class="sans">บัญชีที่ถูกลบ</p>
</a>

<!-- ? -->
<p class="mono">สถิติและการวิเคราะห์ข้อมูล</p>
<a>
    <span class="material-icons-outlined">insights</span>
    <p class="sans">ข้อมูลเชิงลึก</p>
</a>
<a>
    <span class="material-icons-outlined">analytics</span>
    <p class="sans">การวิเคราะการขาย</p>
</a>

{% else %}
<p class="mono">บัญชี</p>
<a href="/managers/account/auth">
    <span class="material-icons-outlined">login</span>
    <p class="sans">เข้าสู่ระบบ</p>
</a>
{% endif %}