<main class="flex flex-col gap-4">
    <header class="my-2 flex flex-col items-start gap-4">
        <h1 class="font-mono text-3xl">คุณไม่มีสิทธิ์เข้าถึงข้อมูล</h1>
    </header>

    <article class="font-sans flex flex-col gap-2">
        <p>คุณไม่ได้รับสิทธิ์หรือไม่มีการอนุญาตในการเข้าถึงข้อมูลนี้ สาเหตุที่เป็นไปได้มีดังนี้</p>

        <h2 class="text-xl font-bold">1. ระดับการเข้าถึง:</h2>

        <ul class="list-disc ml-8">
            <li>บัญชีผู้ใช้ของคุณอาจไม่มีสิทธิ์เพียงพอที่จะดูหรือดำเนินการกับข้อมูล</li>
            <li>คุณอาจไม่ได้รับการมอบหมายบทบาทที่จำเป็นในการเข้าถึงข้อมูล</li>
            <li>ข้อมูลนี้อาจถูกจำกัดเฉพาะผู้ใช้หรือกลุ่มผู้ใช้ที่ได้รับอนุญาตเท่านั้น</li>
        </ul>

        <h2 class="text-xl font-bold">2. ปัญหาทางเทคนิค:</h2>

        <ul class="list-disc ml-8">
            <li>อาจมีข้อผิดพลาดหรือปัญหาทางเทคนิคที่ทำให้คุณเข้าถึงข้อมูลไม่ได้</li>
            <li>เซิร์ฟเวอร์ที่จัดเก็บข้อมูลอาจไม่พร้อมใช้งานชั่วคราว</li>
        </ul>

        <h2 class="text-xl font-bold">วิธีแก้ไข:</h2>

        <ul class="list-disc ml-8">
            <li>ติดต่อผู้ดูแลระบบหรือเจ้าของข้อมูลเพื่อขอสิทธิ์เข้าถึง</li>
            <li>ตรวจสอบให้แน่ใจว่าคุณลงชื่อเข้าใช้ด้วยบัญชีผู้ใช้ที่ถูกต้อง</li>
            <li>ตรวจสอบการตั้งค่าความเป็นส่วนตัวของข้อมูลและดูว่าคุณมีสิทธิ์เข้าถึงหรือไม่</li>
            <li>รอสักครู่แล้วลองเข้าถึงข้อมูลอีกครั้ง หรือติดต่อฝ่ายสนับสนุนเพื่อขอความช่วยเหลือ</li>
        </ul>

        <h2 class="text-xl font-bold">ข้อความเพิ่มเติม:</h2>
        <ul class="list-disc ml-8">
            <li>สาเหตุที่แท้จริงของข้อความแจ้งเตือนนี้อาจแตกต่างกันไป ขึ้นอยู่กับสถานการณ์เฉพาะ</li>
            <li>หากคุณไม่แน่ใจว่าทำไมคุณถึงไม่สามารถเข้าถึงข้อมูลได้ โปรดติดต่อผู้ดูแลระบบหรือฝ่ายสนับสนุนเพื่อขอความช่วยเหลือ</li>
        </ul>
    </article>
</main>