<main class="flex flex-col gap-4">
  <header class="my-2 flex flex-row items-center justify-between">
    <h1 class="font-mono text-3xl">รายการสินค้า</h1>
  </header>
  <section class="flex flex-col gap-2">
    {% if products.length === 0 %}
    <h4 class="font-sans font-bold">ไม่พบข้อมูล</h4>
    {% endif %}
    <!--  -->

    {% for product in products %}
    <div class="group grid h-max grid-cols-[4rem_1fr_3rem_3rem] gap-4 duration-100 border-2 border-transparent hover:border-black">
      <a href="/managers/product/{{ product.search }}" class="w-full h-full flex items-start justify-center bg-white">
        <img class="h-16 w-16 object-cover" src="/images/products/{{ product._id.toString()}}/{{ product.images[0] }}" alt="Product picture of {{ product.name }}" />
      </a>

      <a href="/managers/product/{{ product.search }}" class="flex h-full w-full flex-col items-start justify-center py-1">
        <h2 class="font-sans text-xl font-bold">{{ product.name }}</h2>
        <h2 class="font-display text-sm font-bold">
          {% if not product.price.EQA %}
          <!--  -->
          {{ product.price.MIN }} ~ {{ product.price.MAX }}
          <!--  -->
          {% else %} {{ product.price.MIN }} {% endif %}
        </h2>
      </a>

      <a href="/managers/product/{{ product._id.toString() }}/detail" class="flex h-full w-full items-center justify-center opacity-0 duration-100 group-hover:opacity-100">
        <span class="material-icons-outlined">article</span>
      </a>
      <a href="/managers/product/{{ product.search }}" class="flex h-full w-full items-center justify-center opacity-0 duration-100 group-hover:opacity-100">
        <span class="material-icons-outlined">chevron_right</span>
      </a>
    </div>
    {% endfor %}
  </section>
</main>