<main class="managers-view account">
    <header>
        <h1 class="mono">เปลี่ยนรหัสผ่าน</h1>
    </header>

    {% if q.message %}
    <script>new Alert('{{ q.message }}', AlertType.ERROR, true)</script>
    {% endif %}

    <section>
        <form action="/managers/profile/security/password" method="POST" id="fsubm">
            <fieldset>
                <label for="pwd0l">รหัสผ่านเดิม</label>
                <input type="password" id="pwd0" name="pw0" class="snas" placeholder="รหัสผ่านเดิม">
            </fieldset>

            <fieldset>
                <label for="pwd1">รหัสผ่านใหม่</label>
                <input type="password" id="pwd1" name="pw1" class="sans" placeholder="รหัสผ่าน">
            </fieldset>
            <fieldset>
                <label for="pwd2">ยืนยันรหัสผ่าน</label>
                <input type="password" id="pwd2" name="pw2" class="sans" placeholder="ยืนยันรหัสผ่าน">
            </fieldset>
            <button type="submit">ถัดไป</button>
        </form>

        <script>
            function cppw() {
                const pwd = document.getElementById("pw1");
                const pwdc = document.getElementById("pw2");

                if (pwd.value !== pwdc.value) return false;
                return true;
            }

            document.getElementById("fsubm").addEventListener("submit", e => {
                if (!cppw()) {
                    e.preventDefault();
                    new Alert("รหัสผ่านไม่ตรงกัน", AlertType.ERROR, true);
                };
            });
        </script>
    </section>
</main>