<main class="managers-view account">
    <header>
        <h1 class="mono">รายละเอียดบัญชี</h1>
    </header>

    <section class="account-view">
        <section>
            <h3 class="sans">ข้อมูลบัญชี</h3>

            <div>
                <p class="sans">ชื่อผู้ใช้</p>
                <span class="sans">{{ account.fullname }}</span>
            </div>
            <div>
                <p class="sans">อีเมล์</p>
                <span class="mono">{{ account.email }}</span>
            </div>
            <div>
                <p class="sans">โทรศัพท์</p>
                <span class="mono">{{ account.phone|default('-') }}</span>
            </div>
            <div>
                <p class="sans">วันที่เพิ่ม</p>
                <span class="mono">{{ account.createdAt|date('Y.m.d') }}</span>
            </div>
            <div>
                <p class="sans">ตำแหน่ง</p>
                <span class="sans">
                    {% for role in AccountRole %}
                    {% if role.Role==account.role %}

                    {{ role.Name }}

                    {% endif %}
                    {% endfor %}
                </span>
            </div>
            <div>
                <p class="sans">สถานะ</p>
                <span class="sans">
                    {% if account.status %} ปกติ
                    {% else %} ปิดใช้งาน
                    {% endif %}
                </span>
            </div>
        </section>

        <section class="account-active">
            <h3 class="sans">ประวัติการใช้งาน</h3>

            {% if actions.action.length === 0 or not actions.action %}
            <h4 class="sans">ไม่พบข้อมูลการใช้งาน</h4>
            {% endif %}

            {% for action in actions.action %}
            <div>
                <p class="mono">{{ action.action }}
                    {% if action.info._id %}
                    <span>&gt; {{ action.info._id }}</span>
                    {% endif %}
                </p>
                <span class="mono">{{ action.timestamp|date('Y.m.d H:i:s', -420) }}</span>
            </div>
            {% endfor %}
        </section>
    </section>
</main>