<main class="flex flex-col gap-4">
  <header class="my-2 flex flex-row items-center justify-between">
    <h1 class="font-mono text-3xl">เปลี่ยนรหัสผ่าน</h1>
  </header>

  {% if q.message %}
  <script>
    new Alert("{{ q.message }}", AlertType.ERROR, true);
  </script>
  {% endif %}

  <section>
    <form
      action="/managers/profile/security/password"
      method="POST"
      id="fsubm"
      class="grid grid-cols-1 gap-4"
    >
      <fieldset class="grid grid-cols-1 gap-8 border-2 border-gray-950 p-4">
        <label for="pwd0l" class="grid grid-cols-1 gap-2">
          <span class="w-max font-mono text-sm underline">รหัสผ่านเดิม</span>

          <input
            type="password"
            id="pwd0"
            name="pw0"
            class="h-12 border-b-2 border-gray-950 font-sans outline-offset-4"
            placeholder="รหัสผ่านเดิม"
          />
        </label>

        <label for="pwd1" class="grid grid-cols-1 gap-2">
          <span class="w-max font-mono text-sm underline">รหัสผ่านใหม่</span>

          <input
            type="password"
            id="pwd1"
            name="pw1"
            class="h-12 border-b-2 border-gray-950 font-sans outline-offset-4"
            placeholder="รหัสผ่าน"
          />
        </label>

        <label for="pwd2" class="grid grid-cols-1 gap-2">
          <span class="w-max font-mono text-sm underline">ยืนยันรหัสผ่าน</span>

          <input
            type="password"
            id="pwd2"
            name="pw2"
            class="h-12 border-b-2 border-gray-950 font-sans outline-offset-4"
            placeholder="ยืนยันรหัสผ่าน"
          />
        </label>
      </fieldset>
      
      <button type="submit" class="w-full h-12 border-2 border-gray-950 font-sans text-lg font-bold hover:bg-gray-950 hover:text-white duration-100">ถัดไป</button>
    </form>

    <script>
      function cppw() {
        const pwd1 = document.getElementById("pwd1");
        const pwd2 = document.getElementById("pwd2");

        if (pwd1.value !== pwd2.value) return false;
        return true;
      }

      document.getElementById("fsubm").addEventListener("submit", (e) => {
        if (!cppw()) {
          e.preventDefault();
          new Alert("รหัสผ่านไม่ตรงกัน", AlertType.ERROR, true);
        }
      });
    </script>
  </section>
</main>
