<main class="flex flex-col gap-4">
  <header class="my-2 flex flex-row items-center justify-between">
    <h1 class="font-mono text-3xl">โค้ดส่วนลด</h1>

    <button
      class="flex h-8 w-8 items-center justify-center duration-100 hover:bg-gray-950 hover:text-white"
      onclick="redirect('/managers/shop/promos/add')"
    >
      <span class="material-icons-outlined">add</span>
    </button>
  </header>

  <article class="flex flex-col gap-4">
    {% if promos.length === 0%}
    <h3 class="font-sans font-bold">ยังไม่มีเนื้อหาใดๆ</h3>
    {% endif %}
    <!--  -->
    {% for promo in promos %}
    <section
      class="grid grid-cols-[1fr_1fr] gap-4 border-2 border-gray-950 p-4"
    >
      <header class="flex h-full flex-col justify-between">
        <div class="flex flex-col gap-2">
          <h3 class="text-xl">{{ promo.title }}</h3>
          <code
            class="h-max w-max bg-gray-950 p-1 font-mono  text-white text-lg"
            >{{ promo.code }}</code
          >
        </div>

        <menu
          class="flex flex-row gap-1 *:flex *:h-8 *:w-8 *:items-center *:justify-center *:border-2 *:border-gray-950 *:duration-100"
        >
          <button
            class="hover:bg-gray-950 hover:text-white"
            onclick="redirect('/managers/shop/promos/{{ promo._id.toString() }}')"
          >
            <span class="material-icons-outlined" style="font-size: 16px"
              >edit</span
            >
          </button>
          <button
            class="hover:bg-gray-950 hover:text-white"
            onclick="OnDeletePromocode('{{ promo._id.toString() }}')"
          >
            <span class="material-icons-outlined" style="font-size: 16px"
              >delete</span
            >
          </button>
        </menu>
      </header>
      <article
        class="flex flex-col *:flex *:w-full *:flex-row *:items-center *:justify-between"
      >
        <div>
          <p>ส่วนลด</p>
          <span class="font-mono"
            >{{ promo.discount }}{% if promo.discountByPercen %}%{% endif
            %}</span
          >
        </div>
        <div>
          <p>ขั้นต่ำ</p>
          <span class="font-mono">{{ promo.minimumPrice|default('-') }}</span>
        </div>
        <div>
          <p>สูงสุด</p>
          <span class="font-mono"
            >{{ promo.maximumDiscount|default('-') }}</span
          >
        </div>

        <div>
          <p>จำนวนการใช้งาน</p>
          <span class="font-mono">{{ promo.usage.length }}</span>
        </div>
        <div>
          <p>วันที่เพิ่ม</p>
          <span class="font-mono">{{ promo.createdAt|date('Y.m.d') }}</span>
        </div>
        <div>
          <p>สถานะ</p>
          <select
            id="{{ promo._id.toString() }}"
            class="font-mono"
            onchange="OnActiveSelectChange(this.id, this.value)"
          >
            <option value="active">Active</option>
            {% if not promo.active %}
            <option value="inactive" selected>Inactive</option>
            {% else %}
            <option value="inactive">Inactive</option>
            {% endif %}
          </select>
        </div>
      </article>
    </section>
    {% endfor %}

    <script>
      async function OnActiveSelectChange(id, isActive) {
        const res = await fetchJson("/api/promocode/" + id, {
          headers: {
            "Content-Type": "application/json",
          },
          method: "PUT",
          body: JSON.stringify({ active: isActive == "active" ? true : false }),
        });

        if (res.status === 201) {
          new Alert("อัพเดทข้อมูลสำเร็จ", AlertType.INFO, true);
        } else {
          new Alert(
            "เกิดข้อผิดพลาดบางอย่าง โปรดลองอีกครั้ง",
            AlertType.ERROR,
            true,
          );
        }
      }

      async function OnDeletePromocode(id) {
        const res = await fetchJson("/api/promocode/" + id, {
          method: "DELETE",
        });

        if (res.status === 204) {
          window.location.reload();
        } else {
          new Alert(
            "เกิดข้อผิดพลาดบางอย่าง โปรดลองอีกครั้ง",
            AlertType.ERROR,
            true,
          );
        }
      }
    </script>
  </article>
</main>
