<main class="managers-view shop-promotions">
    <header>
        <h1 class="mono">เพิ่มโค้ดส่วนลด</h1>
    </header>

    <article>
        <form id="promos">
            <h2 class="sans">ข้อมูลโปรโมชั่น</h2>
            <fieldset>
                <label for="title">ชื่อโปรโมชั่น</label>
                <input type="text" id="title" class="sans" placeholder="ชื่อโปรโมชั่น" value="{{ promo.title }}">
            </fieldset>
            <fieldset>
                <label for="code">โปรโมชั่นโค้ด</label>
                <input type="text" id="code" class="sans" placeholder="โปรโมชั่นโค้ด" value="{{ promo.code }}">
            </fieldset>

            <fieldset>
                <label for="discount">ส่วนลด</label>
                <input type="text" id="discount" class="sans" placeholder="ส่วนลด"
                    value="{{ promo.discount }}{% if promo.discountByPercen %}%{% endif %}">
            </fieldset>

            <h2 class="sans">เงื่อนไขการใช้งาน</h2>

            <fieldset>
                <label for="minimum-price">ราคาขั้นต่ำ</label>
                <input type="number" id="minimumPrice" placeholder="ราคาขั้นต่ำ" value="{{ promo.minimumPrice }}">
            </fieldset>
            <fieldset>
                <label for="maximum-discount">ส่วนลดสูงสุด</label>
                <input type="number" id="maximumDiscount" placeholder="ส่วนลดสูงสุด"
                    value="{{ promo.maximumDiscount }}">
            </fieldset>

            <button class="sans">{% if promo %} บันทึก {% else %} เพิ่มโค้ด {% endif %}</button>
        </form>

        <script>
            const promos = document.getElementById("promos");

            function getFormContent(form = promos) {
                const input = form.querySelectorAll("input");
                let body = {};

                input.forEach(e => { body[e.id] = e.value; });
                return body;
            }

            promos.addEventListener("submit", async e => {
                e.preventDefault();

                const body = getFormContent();
                if (body.discount.endsWith('%')) {
                    body['discountByPercen'] = true;
                    body.discount = body.discount.split('%')[0];
                }

                const res = await fetchJson("/api/promocode/" + '{% if promo %}{{ promo._id.toString() }}{% else %}newcode{% endif %}', {
                    headers: {
                        'Content-Type': 'application/json',
                    },

                    /*{% if promo %}*/
                    method: 'PUT',
                    /*{% else %}*/
                    method: 'POST',
                    /*{% endif %}*/

                    body: JSON.stringify(body),
                });

                if (res.status === 201) window.location.href = '/managers/shop/promos';
                else new Alert("เกิดข้อผิดพลาดบางอย่าง โปรดลองอีกครั้ง", AlertType.ERROR, true);
            });

        </script>
    </article>
</main>