header.articles {
    width: min(720px, 90vw);
    padding-left: max((100vw - 720px) / 2, 5vw);
    padding-right: max((100vw - 720px) / 2, 5vw);
}

main.articles {
    width: min(720px, 90vw);
    margin-left: max((100vw - 720px) / 2, 5vw);
    margin-right: max((100vw - 720px) / 2, 5vw);
}

.articles.article-reader article {
    padding-top: 4rem;
    padding-bottom: 4rem;

    display: flex;
    flex-direction: column;
    gap: 6pt;
}

.articles.article-reader article,
.article-writer.writer-container {
    pre {
        white-space: pre-wrap;
    }

    h1,
    pre,
    input,
    textarea {
        &.heading {
            font-size: 24px;
            font-weight: bold;
        }

        &.weight-nomal {
            font-weight: normal;
        }

        &.weight-bold {
            font-weight: bold;
        }

        &.size-small {
            font-size: 14px;
        }

        &.size-normal {
            font-size: 16px;
        }

        &.size-large {
            font-size: 20px;
        }

        &.align-left {
            text-align: left;
        }

        &.align-center {
            text-align: center;
        }

        &.align-right {
            text-align: right;
        }
    }

    :is(h1, pre) {
        &.space-before {
            padding-top: 1rem;
        }

        &.space-after {
            padding-bottom: 1rem;
        }
    }

    :is(input, textarea) {
        &.space-before {
            border-top: 2px solid var(--dark);
        }

        &.space-after {
            border-bottom: 2px solid var(--dark);
        }
    }
}

.article-writer .article-heading,
.articles.article-reader .article-heading {
    padding: 4rem 0;

    display: flex;
    flex-direction: column;
    border-bottom: 2px solid var(--dark);
    gap: 1rem;

    .title {
        font-size: 42px;
        font-weight: bold;

        text-align: left;
        line-height: 1.6;
    }
}

.article-writer.writer-container {
    display: grid;
    grid-template-columns: 1fr 18rem;
    gap: 2rem;

    margin-top: 2rem;
    margin-bottom: 2rem;

    position: relative;

    .article-heading {
        padding: 0;
        padding-bottom: 1rem;
    }

    section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: start;
        gap: 1rem;

        height: max-content;
        border: 2px solid var(--dark);
        padding: 6pt;

        position: sticky;
        top: calc(6rem + 2px);
        right: 0;
        z-index: 90;

        hr {
            border: none;
            border-top: 2px solid var(--border);
            border-radius: 0;
            margin: 6pt 0;
        }

        select {
            width: 100%;
            height: 2rem;

            border: none;
            border-bottom: 1px solid var(--dark);
            font-size: 16px;
        }

        div {
            width: 100%;
        }

        button {
            width: 100%;
            height: 3rem;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 1rem;

            font-size: 16px;
            font-weight: bold;
        }

        .section-insert {
            display: grid;
            grid-template-columns: 1fr;
            gap: 6pt;
        }

        .text-format {
            display: grid;
            grid-template-columns: 1.5fr 1fr;
            gap: 6pt;
        }

        .alignment-container {
            display: grid;
            grid-template-columns: 1.5fr 1fr;
            gap: 6pt;

            .spacing,
            .alignment {
                display: flex;
                flex-direction: row;

                button {
                    height: 2rem;

                    border-right: 0;
                    border-left: 0;

                    &:first-child {
                        border-left: 2px solid var(--border);
                    }

                    &:last-child {
                        border-right: 2px solid var(--border);
                    }
                }
            }
        }
    }

    article {
        width: 100%;

        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    ol>li,
    ul>li {
        display: list-item;
        align-items: center;

        textarea {
            min-height: 2rem;
            height: 2rem;
        }
    }

    img {
        width: 100%;
        height: auto;

        object-fit: contain;
    }

    textarea,
    input {
        width: calc(100% - 1rem);
        border: none;

        height: 2rem;
        resize: none;

        font-size: 16px;
        background-color: #eee;
        padding: 6pt;
    }

    textarea {
        padding-top: 1rem;
        padding-bottom: 0;
    }
}


.articles.article-writer.heading-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    height: 4rem;

    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;

    background-color: var(--white);
    border-bottom: 2px solid var(--border);
}

.articles.article-table {
    display: flex;
    flex-direction: column;

    gap: 1rem;

    a {
        text-decoration: none;
        color: var(--dark);

        font-size: 16px;
        padding: 1rem 0;

        min-height: 4rem;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        border-bottom: 2px solid transparent;
        transition: var(--button-action-transition);

        &:hover {
            border-bottom: 2px solid var(--dark);
        }
    }
}