::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--dark);
}

:root {
    --dark: #191919;
    --white: #FFFFFF;
    --border: #191919;
    --body: #FFFFFF;

    --red: #D37676;
    --yellow: #F1EF99;
    --green: #99B898;
    --transition: 160ms;
}

* {
    margin: 0;
}

.sans {
    font-family: "Poppins", "Noto Sans Thai", sans-serif;
}

.mono {
    font-family: "DM Mono", monospace;
}

.display {
    font-family: "Major Mono Display", "Noto Sans Thai", monospace;
    font-weight: 400;
    font-style: normal;
}

.my {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

button {
    border: 2px solid var(--border);
    background-color: var(--white);
    color: var(--dark);
    transition: var(--transition);

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: var(--dark);
        color: var(--white);
    }
}

:is(a, button, input, select, textarea) {
    outline-offset: 4px;
    outline-style: var(--dark);
}

body {
    background-color: var(--body);
    overflow-x: hidden;
    cursor: default;
}

body>header {
    width: min(1114px, 90vw);
    padding-left: max((100vw - 1114px) / 2, 5vw);
    padding-right: max((100vw - 1114px) / 2, 5vw);
}

body>main {
    width: min(1114px, 90vw);
    margin-left: max((100vw - 1114px) / 2, 5vw);
    margin-right: max((100vw - 1114px) / 2, 5vw);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    gap: 1rem;

    &>button {
        width: 100%;
        height: 3rem;

        font-size: 16px;
        font-weight: bold;
    }

    header {
        width: 100%;
        height: max-content;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        button {
            width: 2rem;
            height: 2rem;

            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    :is(h1, h2, h3, h4, h5, h6) {
        font-weight: 500;
        padding: 1rem 0 6pt 0;
    }

    fieldset {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: start;
        gap: 6pt;

        border: none;

        width: calc(100% - 2rem - 4px);
        padding: 1rem;
        height: max-content;
        border: 2px solid #191919;
    }


    label {
        border-bottom: 1px solid var(--border);
    }

    input,
    textarea,
    select {
        width: 100%;
        min-height: 3rem;
        padding: 0;

        border: none;
        font-size: 16px;
        border-bottom: 2px solid var(--border);

        &:invalid {
            border-bottom: 2px solid var(--red);
        }
    }

    textarea {
        padding-top: 1rem;
        resize: none;
    }
}

.webstatic.search-container {
    height: max-content;
    padding-top: 2rem;
    padding-bottom: 2rem;

    display: flex;
    flex-direction: column;

    position: fixed;
    top: -35rem;
    left: 0;
    z-index: 200;

    background-color: var(--white);
    border-bottom: 2px solid var(--border);

    transition: 360ms;

    &.extend {
        top: 0;
    }

    div {
        display: grid;
        grid-template-columns: 1fr 4rem;
        place-items: center;


        input {
            width: 100%;
            height: calc(3rem - 4px);
            padding: 0 6pt;

            font-size: 16px;
            font-weight: normal;

            border: 2px solid var(--border);
        }

        button {
            width: 3rem;
            height: 3rem;
        }
    }
}

.webstatic.masterhead {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    height: 4rem;

    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;

    background-color: var(--white);
    border-bottom: 2px solid var(--border);
    // padding-top: 1rem;
    // padding-bottom: 1rem;

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 6pt;

        .smb {
            @media screen and (min-width: 856px) {
                display: none;
            }
        }
    }

    a {
        font-weight: bold;
    }

    a,
    button {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 2rem;
        padding: 0 1rem;

        border: none;
        text-decoration: none;
        cursor: pointer;

        &.i {
            width: 2rem;
            height: 2rem;
            padding: 0;

            position: relative;
        }

        &.a::after {
            content: '';
            display: block;
            position: absolute;
            top: 2px;
            right: 2px;

            width: 8px;
            height: 8px;
            border-radius: 100%;
            background-color: var(--red);
        }

        &:hover {
            background-color: var(--dark);
            color: var(--white);
        }
    }


    h3>a {
        all: unset;
        cursor: pointer;

        &:hover {
            all: unset;
            cursor: pointer;
        }
    }
}

.webstatic.masterfooter {
    display: flex;
    flex-direction: column;

    width: min(1114px, 90vw);
    padding-left: max((100vw - 1114px) / 2, 5vw);
    padding-right: max((100vw - 1114px) / 2, 5vw);
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-top: 2rem;

    gap: 4rem;
    border-top: 2px solid var(--border);
    background-color: var(--yellow);

    main {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 4rem;

        @media screen and (max-width: 856px) {
            display: flex;
            flex-direction: column;
        }
    }

    &>p {
        border-top: 1px solid var(--border);
        padding: 6pt 0;
    }

    header {
        width: 100%;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        h1 {
            font-size: 64px;
        }

        p {
            font-size: 24px;
            text-transform: uppercase;
        }

        @media screen and (max-width: 512px) {
            h1 {
                font-size: 36px;
            }

            p {
                font-size: 16px;
            }
        }
    }

    section {
        a {
            color: var(--dark);
            text-decoration: none;

            display: inline-flex;
            flex-direction: row;
            align-items: center;
            justify-content: left;

            width: max-content;
            padding: 4pt 6pt;
            transition: 160ms;

            span {
                width: 0;
                overflow: hidden;
                transition: 160ms;
            }

            p {
                font-size: 16px;
                font-weight: 500;
            }

            &:hover {
                background-color: var(--dark);
                color: var(--white);

                span {
                    width: 2rem;
                }
            }
        }

        nav {
            display: flex;
            flex-direction: column;
            width: max-content;
        }
    }
}

.webstatic.banner-section {
    position: relative;
    height: 512px;

    background-color: var(--banner-background);

    menu {
        all: unset;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 20;

        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;

        div {
            background-color: var(--white);
            backdrop-filter: blur(2pt);
            width: 4rem;
            height: 100%;

            display: flex;
            justify-content: center;
            align-items: center;

            opacity: 0;
            transition: var(--transition);

            user-select: none;

            &:hover {
                color: var(--white);
                background-color: var(--dark);
            }
        }

        nav {
            width: 4rem;
            height: 2rem;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 6pt;

            span {
                width: 8px;
                height: 8px;

                border-radius: 100%;
                background-color: var(--dark);

                &.a {
                    background-color: var(--red);
                }
            }
        }

        &:hover div {
            opacity: 1;
        }
    }

    section {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;

        width: 100%;
        height: 100%;

        div {
            width: 0;
            height: 100%;
            transition: 320ms;

            img {
                height: 100%;
                width: 100%;

                object-fit: cover;
            }

            &.a {
                width: 100%;
            }
        }
    }
}

.webstatic.heading {
    min-height: 4rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.webstatic.ptable {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;

    @media screen and (max-width: 1114px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: 856px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 512px) {
        grid-template-columns: 1fr;
    }

    section {
        width: 100%;
        height: 24rem;

        display: flex;
        flex-direction: column;

        &>a {
            all: unset;
        }

        img {
            width: 100%;
            height: 16rem;

            object-fit: cover;
        }

        article {
            width: auto;
            padding: 6pt;
            gap: 1rem;

            display: flex;
            flex-direction: column;

            .title {
                text-decoration: none;
                color: var(--dark);

                line-height: 1.4;
                font-size: 16px;
                font-weight: bold;

                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                line-clamp: 2;
                -webkit-box-orient: vertical;
            }

            div {
                display: flex;
                flex-direction: row;
                align-items: last baseline;
                justify-content: right;
                gap: 6pt;

                .price {
                    font-size: 18px;
                    font-weight: bold;
                }
            }
        }
    }
}


.webstatic.view-product {
    display: grid;
    grid-template-columns: 480px 1fr;
    gap: 4rem;

    @media screen and (max-width: 1114px) {
        display: flex;
        flex-direction: column;
    }

    .product.picture {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: start;
        gap: 1rem;
        width: 100%;

        .image {
            width: 100%;

            img {
                width: 100%;
                height: 480px;

                object-fit: contain;
            }
        }

        .itable {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: left;
            gap: 6pt;

            width: 100%;
            overflow-x: scroll;
            padding-bottom: 4px;

            img {
                width: 4rem;
                height: 4rem;
                object-fit: cover;

                cursor: pointer;
            }
        }
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: start;
        gap: 1rem;

        h1 {
            line-height: 1.5;
        }

        p {
            line-height: 1.4;
        }

        .price {
            width: 100%;

            display: inline-flex;
            flex-direction: row;
            align-items: last baseline;
            justify-content: right;

            gap: 6pt;

            span {
                font-size: 16px;
                font-weight: normal;
            }

            p {
                font-size: 24px;
                font-weight: bold;
            }
        }

        .options {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: left;
            gap: 1rem;

            button {
                width: max-content;
                height: 3rem;
                min-width: 6rem;
                padding: 0 1rem;

                font-size: 16px;
                font-weight: bold;

                &.selected {
                    background-color: var(--dark);
                    color: var(--white);
                }
            }
        }

        .qbuy {
            display: grid;
            grid-template-columns: 2fr 4fr 1fr;
            gap: 1rem;
            height: 4rem;

            menu {
                all: unset;
                display: grid;
                grid-template-columns: 3rem 1fr;
                height: 4rem;
                width: 100%;

                div {
                    width: 100%;
                    height: 100%;

                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr 1fr;
                }

                button {
                    height: 100%;
                    width: 100%;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: none;

                    &:hover {
                        background-color: var(--dark);
                        color: var(--white);
                    }
                }
            }

            input[type=number] {

                &::-webkit-inner-spin-button,
                &::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

                width: 100%;
                height: calc(100% - 4px);
                padding: 0;

                border: 2px solid var(--border);
                font-size: 36px;
                font-weight: bold;
                text-align: center;
            }

            button {
                width: 100%;
                height: 100%;
                font-size: 24px;
                font-weight: bold;

                display: flex;
                justify-content: center;
                align-items: center;

                span {
                    font-size: 28px;
                    line-height: 1;
                }
            }
        }
    }
}

.webstatic.product-detail {
    article {
        display: flex;
        flex-direction: column;
        gap: 6pt;

        p {
            font-size: 16px;
        }

        img {
            width: 100%;
            margin: 6pt 0;
            object-fit: contain;
        }
    }
}

.webstatic.cartview-container {
    position: fixed;
    top: 4rem;
    right: 0;
    z-index: 98;

    background-color: var(--white);

    height: calc(100vh - 4rem);
    width: 24rem;
    padding: 0 2rem;

    border: 2px solid var(--border);
    border-right: 0;
    border-bottom: 0;

    display: flex;
    flex-direction: column;
    overflow: hidden;

    transition: 320ms;

    &.hide {
        right: -30rem;
    }

    header {
        margin: 1rem 0;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        button {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 2rem;
            height: 2rem;
            border: none;
        }
    }

    article {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        max-height: 50vh;
        padding-right: 1rem;
        border-bottom: 2px solid var(--border);

        overflow-y: scroll;

        &>span {
            width: 100%;
            padding: 1rem 0;

            font-size: 16px;
            font-weight: bold;
            text-align: center;
        }

        div {
            display: grid;
            grid-template-columns: 3.5rem 1fr 4rem;
            place-items: center;
            gap: 6pt;

            img {
                width: 3.5rem;
                height: 3.5rem;

                object-fit: cover;
            }

            h4 {
                line-height: 1.2;
                width: 100%;
                text-align: left;

                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                line-clamp: 3;
                -webkit-box-orient: vertical;

                a {
                    text-decoration: none;
                    color: inherit;
                }
            }

            div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;

                p {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    width: 100%;

                    span {
                        width: 100%;
                        text-align: right;
                    }
                }
            }

            menu {
                all: unset;
                width: 100%;

                display: flex;
                justify-content: right;
                align-items: center;

                button {
                    all: unset;

                    width: 2rem;
                    height: 2rem;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;

                    color: var(--dark);
                    background-color: var(--white);
                    transition: var(--transition);

                    &:hover {
                        background-color: var(--red);
                        color: var(--white);
                    }
                }
            }
        }
    }

    summary {
        display: flex;
        flex-direction: column;
        padding: 2rem 0;
        gap: 6pt;

        &.hide {
            display: none;
        }

        div {
            display: flex;
            flex-direction: row;
            align-items: last baseline;
            justify-content: right;
            gap: 6pt;

            span {
                font-size: 16px;
            }

            p {
                font-size: 24px;
            }
        }

        button {
            height: 3rem;
            margin: 2rem 0;

            font-size: 16px;
            font-weight: bold;
        }
    }
}

.webstatic.alert-message-container {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 299;

    &.follow {
        top: calc(4rem + 2px);
    }

    &.ERROR {
        background-color: var(--red);
    }

    &.INFO {
        background-color: var(--green);
    }

    display: grid;
    grid-template-columns:2rem 1fr 2rem;
    height: 2rem;

    p {
        display: flex;
        justify-content: center;
        align-items: center;

        color: var(--white);
        font-size: 16px;
        font-weight: bold;
    }

    a {
        text-decoration: 2px underline var(--white);
        color: var(--white);
    }

    button {
        width: 2rem;
        height: 2rem;

        display: flex;
        justify-content: center;
        align-items: center;

        color: var(--white);
        border: none;
        background-color: transparent;

        &:hover {
            background-color: var(--white);
            color: var(--dark);
        }
    }
}

.webstatic.checkout-container {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 4rem;

    @media screen and (max-width: 856px) {
        display: flex;
        flex-direction: column-reverse;
        gap: 1rem;
    }

    .checkout-form {
        fieldset {
            gap: 1.4rem;

            div {
                display: flex;
                flex-direction: column;

                width: 100%;
                height: max-content;
                gap: 6pt;

                label {
                    width: max-content;
                }

                &.row {
                    flex-direction: row;
                }
            }

        }

        select.incorrect,
        input.incorrect {
            border-color: var(--red);
        }

        menu {
            all: unset;

            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            button {
                border: none;
                height: 3rem;
                gap: 2pt;
                padding-right: 1rem;

                &.primary {
                    padding: 0 2rem;

                    border: 2px solid var(--border);
                    font-weight: bold;
                }

                p {
                    font-size: 16px;
                }
            }
        }
    }


    // ? Override "webstatic cartview-container"
    .cartview-container {
        min-height: unset;
        height: max-content;
        width: 100%;
        padding: 0;

        border: none;

        position: relative;
        top: unset;
        right: unset;

        article {
            overflow-y: auto;
            padding-bottom: 1rem;
        }

        form {
            display: grid;
            grid-template-columns: 1fr 6rem;
            padding-top: 1rem;
        }

        summary {
            width: 100%;

            div {
                justify-content: space-between;
            }
        }
    }
}

.webstatic.checkout-header {
    display: flex;
    flex-direction: column;
    gap: 6pt;

    p {
        font-size: 14px;
    }
}

.webstatic.checkout-finish {
    main {
        width: 100%;
        min-height: calc(100vh - 10rem);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 64px;
            line-height: 1.8;
        }

        menu {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            padding: 2rem 0;


            a {
                text-decoration: none;
                color: var(--dark);

                &:hover {
                    text-decoration: 1px underline;
                }
            }

            button {
                height: 3rem;
                font-size: 16px;
                font-weight: bold;
                padding: 0 2rem;
            }
        }
    }
}


.s2loader {
    width: 16px;
    height: 16px;

    border-radius: 50%;
    border: 3px solid;
    border-color: var(--white);
    border-right-color: var(--border);
    animation: s2 680ms infinite linear;
}

@keyframes s2 {
    to {
        transform: rotate(1turn)
    }
}